
* {
    margin: 0;
    padding: 0;   /*restablecer margenes*/
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elementoNav a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto del <li> */
}

#imLogo {
    width: 100px;
}

.contNav {
    background-color: rgba(198, 207, 253, 0.822);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#listaNav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elementoNav {
    font-size: 22px;
    color: rgb(4, 24, 67);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative; 
}


.elementoNav:hover {

    font-weight: bold;
    cursor: pointer;
}

/* Estilo para el submenú */
.subMenu {
    display: none; /* Ocultamos el submenú por defecto */
    position: absolute;
    left: -60px;
    list-style: none;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(243, 249, 255);
    border-radius: 5px; 
    width: 150px; /* Ancho ajustable */
    border:1px solid gray;
}

/* Estilos para los elementos dentro del submenú */
.subMenu li {
    padding: 8px;
    font-size: 18px;
    color: rgb(4, 24, 67);
}

/* Hover sobre los elementos dentro del submenú */
.subMenu li:hover {
    background-color: rgb(184, 204, 248);
    font-weight: bold;
    color: rgb(3, 39, 116); 
    cursor: pointer;
}

/*cuerpo*/

#main{
    
    margin-left: 300px;
    margin-right: 300px;
        
}
#titulo1{
    margin-top: 50px;
}

#titulo2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.cont1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    
}

p{
    font-size: 20px;
    
}

#txt1{
    margin-bottom: 40px;
}

.elem1{
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 15px;

}

.tam1{
    width: 100%;
    border-radius: 25px;
    box-shadow:  5px 5px 18px gray;
}

#titulo3{
    margin-top: 55px;
    margin-bottom: 15px;
}


/*footer*/

#idFooter{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(170, 182, 241, 0.822);
}

#iconoF{

    width: 50px;
    padding-top: 30px;
    margin: 10px;

}

.cLista{

    list-style: none;
    display: flex;
    flex-direction: row;

}

.eLista{

    margin: 30px;

}


@media screen and (min-width: 0px) and (max-width: 800px){

    /*header*/
        .contNav {
            display: flex;
            flex-direction: column;
            align-items: center; /* Opcional, para centrar los elementos */
        }
    
        #listaNav {
            display: flex;
            flex-direction: column;
            padding: 0;
            list-style: none; /* Elimina los estilos de lista */
        }
    
        #listaNav li {
            text-align: center; /* Opcional, para centrar los enlaces */
        }
        .subMenu {
            display: none; /* Ocultamos el submenú por defecto */
            position: absolute;
            left: -200px;
            list-style: none;
            background-color: rgb(243, 249, 255);
            border-radius: 5px; 
            width: 150px; /* Ancho ajustable */
            border:1px solid gray;
            top: -30px;
        }

        #main{
    
            margin-left: 30px;
            margin-right: 30px;
                
        }

        #titulo1{
            text-align: center;
        }

        #titulo3{
            text-align: center;
        }

        #titulo2{
            text-align: center;
        }

        #txt1{
            text-align: center;
        }





}