* {
    margin: 0;
    padding: 0;   /*restablecer margenes*/
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elementoNav a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto del <li> */
}

#imLogo {
    width: 100px;
}

.contNav {
    background-color: rgba(198, 207, 253, 0.822);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#listaNav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elementoNav {
    font-size: 22px;
    color: rgb(4, 24, 67);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative; 
}


.elementoNav:hover {

    font-weight: bold;
    cursor: pointer;
}

/* Estilo para el submenú */
.subMenu {
    display: none; /* Ocultamos el submenú por defecto */
    position: absolute;
    left: -60px;
    list-style: none;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(243, 249, 255);
    border-radius: 5px; 
    width: 150px; /* Ancho ajustable */
    border:1px solid gray;
}

/* Estilos para los elementos dentro del submenú */
.subMenu li {
    padding: 8px;
    font-size: 18px;
    color: rgb(4, 24, 67);
}

/* Hover sobre los elementos dentro del submenú */
.subMenu li:hover {
    background-color: rgb(184, 204, 248);
    font-weight: bold;
    color: rgb(3, 39, 116); 
    cursor: pointer;
}


/*CUERPO*/

#titulo1{
    text-align: center;
    margin-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
#titulo2{
    text-align: center;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

/*slider*/

#slider{
    display: flex;
    justify-content: center;
}

#cont{
    display: flex;
    overflow: hidden;
    width: 750px;
    height: 450px;
    
}

#contImagenes{
    display: flex;
    flex-direction: row;
    position: relative;
    animation-name: sliderFotos;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    

}

#tam{
    width: 750px;
    height: 450px;
    margin: 40px;
}

@keyframes sliderFotos{

    from{
        left: 0px;
    }
    to{
        left: -554%;
    }

}

/*footer*/

#idFooter{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(170, 182, 241, 0.822);
}

#iconoF{

    width: 50px;
    padding-top: 30px;
    margin: 10px;

}

.cLista{

    list-style: none;
    display: flex;
    flex-direction: row;

}

.eLista{

    margin: 30px;

}