*{  /*restablecer margenes*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imLogo{  /*tamaño logo*/

    width: 100px;

}
#logo{  /*colocar imagen en medio*/

    display: flex;
    justify-content: center;
    background-color: rgb(55, 110, 230);

}